@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (the area behind the scrollbar) */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  /* Handle (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  
  *{
    scroll-behavior: smooth;
  }